global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  # --- Prometheus itself ---
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # --- Producer ---
  - job_name: 'producer'
    static_configs:
      - targets: ['producer:8000']

  # --- Processor ---
  - job_name: 'processor'
    static_configs:
      - targets: ['processor:8000']

  # --- Kafka Exporter ---
  - job_name: 'kafka_exporter'
    static_configs:
      - targets: ['kafka_exporter:9308']

  # --- MongoDB Exporter ---
  - job_name: 'mongodb_exporter'
    static_configs:
      - targets: ['mongodb_exporter:9216']

  # --- cAdvisor (Node metrics) ---
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  # --- Loki ---
  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  # --- Promtail ---
  - job_name: 'promtail'
    static_configs:
      - targets: ['promtail:9080']
